<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title あとがき
    link(rel="stylesheet", href="/main.css")
    link(rel="stylesheet", href="/assets/fontawesome-free/css/all.min.css")
  body

    section#profile
      h3 著者プロフィール

      .author
        img(src="/assets/sample.jpg")
        .profile
          h4 Hidetaka Okamoto(岡本秀高)
          code
            i(class="fab fa-twitter" aria-hidden="true")
            | motchi0214
          div
            | Alexa Champion
            br
            | HP：
            a(href="https://wp-kyoto.net") https://wp-kyoto.net

    section#colophon
      h2.title Vivliostyle で本を作ろう Vol.1
      ul.editions
        li
          time(datetime='2019-04-14') 2019年4月14日
          | 初版発行
      table.info
        tr
          td 発行
          td Hidetaka Okamoto
        tr
          td 執筆環境引用元
          td Vivliostyle ユーザー会 <br/>
            | https://github.com/spring-raining/tbf06-draft
        tr
          td 印刷
          td 探す<br/>
            | https://example.com
      div
        | <br/>
        | © Hidetaka Okamoto
