<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=s, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vivlio Style Template
    link(rel="stylesheet", href="/main.css")
  body
    h1 Vivlio Style Template

    h2.toc-header 目　次

    nav#toc(role="doc-toc")
      ol
        li
          a(href="maegaki.html") まえがき
        li.chapter-1
          a(href="chapter-1/index.html")
            .content
              .title Chapter 1 Title
              .author Hidetaka Okamoto
        li.chapter-2
          a(href="chapter-2/index.html")
            .content
              .title Chapter 1 Title
              .author Hidetaka Okamoto
        li
          a(href="atogaki.html") あとがき
