<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title まえがき
    link(rel="stylesheet", href="/main.css")
  body
    h2 まえがき
    p
      |
      | 前書き文章をここにかきましょう。

    h2 書籍作成にあたって
    p
      | 本書の作成には、Vivliostyleを利用しています。
    p
      | 手慣れた技術で本が書けるプロジェクトということで触れる機会を伺っていたのですが、Vivliostyle コミュニティの方々が環境をオープンソースにして頂いていたため、ようやく触れることができました。
      a(href="https://github.com/spring-raining/tbf06-draft") 元のGitHubリポジトリ
      | をforkする形で、テンプレートとして利用できるように手を加えたものをGitHubに公開しています。
    p
      a(href="https://github.com/hideokamoto/vivliostyle-draft-template") https://github.com/hideokamoto/vivliostyle-draft-template
    p
      | Vivliostyleを使いこなせている気は全然しませんが、それでも書籍を作ることができるということはとても素晴らしいことだと思います。
      | 興味がある方は、
      a(href="https://vivliostyle.org")  vivliostyle.org
      | をぜひ訪れてみてください。
    p(style='text-align: right;')
      | ― Hidetaka Okamoto

    .page-break

    h2 免責
    p
      | 本書の内容に関して、正確性は保証できません。本書に書かれた情報を利用することで生じた結果に対して、著者はいかなる責任も負いません。
